footer {
    /* background: #AED9E0; */
    height: 50px;
    margin-top: 50px;
  }

  p {
    font-weight: bold;
  }

  .footer-a {
    text-decoration: none;
    color: black;
    font-weight: 300;
  }

  a:hover {
    text-decoration: underline;
  }
